body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/wp11317614.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heading-div {
  width: 50vw;
  height: fit-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 8px #222;
  color: #fff;
}
.heading-div > p {
  font-weight: lighter;
}
h1 {
  background-color: rgba(75, 80, 80, 0.5);
  box-shadow: inset 2px 2px 15px 1px #444;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
}
hr {
  width: 50%;
  border-color: rgba(75, 80, 80, 0.3);
}
.content-cover {
  margin-top: 30px;
  background-color: rgba(75, 80, 80, 0.5);
  box-shadow: inset 2px 2px 15px 1px #444;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.content > li {
  margin-top: 10px;
}
ul {
  margin-bottom: 30px;
}
#image {
  max-width: 1500px;
  max-height: 1500px;
}
.image-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 100, 100, 0.7);
  border: 1px solid #777;
  backdrop-filter: blur(4px);
  padding: 30px;
  border-radius: 50px;
  box-shadow: 4px 4px 15px 1px #333;
  margin-bottom: 30px;
  margin-top: 30px;
}
.image-group-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-item_a > img {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;

  height: 600px;
  width: 25vw;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;

  margin: 5px;

  box-shadow: 2px 2px 8px 1px #555;
  border: solid #888 1px;
}
.image-item_b > img {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;

  height: 291px;
  width: 25vw;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;

  margin: 5px;
  box-shadow: 2px 2px 8px 1px #555;
  border: solid #888 1px;
}

span {
  font-weight: bold;
}
p {
  margin-left: 5%;
  width: 80%;
}
.quote {
  font-weight: lighter;
}
.final {
  margin-top: 20px;
  margin-left: 2%;
  width: 80%;
  text-shadow: none;
  font-weight: lighter;
}
#tribute-link {
  margin-top: 0px;
  text-decoration: none;
  color: rgb(35, 35, 82);
  text-shadow: none;
  font-weight: bold;
}
